#react-root {
    margin: 0px;
}

.wrapper {
    background: url('background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 100%;
}

.dashboard {
    margin-left: 10%;
}